@model CP2496H07Group1.Models.Account

<section class="page-title">
    <div class="bg-layer" style="background-image: url('@Url.Content("~/images/background/page-title.jpg")');"></div>
    <div class="pattern-layer" style="background-image: url('@Url.Content("~/images/shape/shape-32.png")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>Card Details</h1>
            <ul class="bread-crumb clearfix">
            </ul>
        </div>
    </div>
</section>


<section class="card-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-12 col-sm-12 sidebar-side">
                <div class="cards-sidebar pt_110 pb_120">
                    <div class="category-widget mb_30">
                        <div class="widget-title">
                            <h3>Function</h3>
                        </div>
                        <ul class="category-list clearfix">
                            <li><a asp-action="Users" asp-controller="Auth">User Setting</a></li>
                            <li><a asp-controller="Auth" asp-action="Card" class="current">My Card</a></li>
                            <li><a asp-controller="Loans" asp-action="Index">My Loans</a></li>
                            <li><a asp-controller="Insurance" asp-action="UserInsurance">My Insurance</a></li>
                            <li><a asp-controller="Transfer" asp-action="Index">Transfer</a></li>
                            <li><a asp-controller="Auth" asp-action="RecentTransactions">History Transaction</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 content-side">
                <div class="card-details-content pt_110 pb_120">
                    <div class="content-one">
                        <div class="text-box mb_45">
                            <h6>Know My Card</h6>
                        </div>
                        <div class="image-box">
                            <div class="row clearfix">
                                @if (@Model.AccountType == "Credit Card")
                                {
                                    <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                        <figure class="image"><img src="~/images/resource/credit.png" alt=""></figure>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                        <figure class="image"><img src="~/images/resource/normal.png" alt=""></figure>
                                    </div>
                                }

                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image"><img src="~/images/resource/card-7.jpg" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>


                    @if (@Model.AccountType == "Credit Card")
                    {
                        <div class="content-two mb_10">
                            <div class="text-box mb_35">
                                @if (@Model.Status == "Deleted")
                                {
                                    <h2><img width="30rem" src="~/images/icons/block.svg" alt=""> Credit Card Details
                                    </h2>
                                }
                                else
                                {
                                    <h2><img src="~/images/icons/icon-195.png" alt=""> Credit Card Details</h2>
                                }
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <div class="icon-box"></div>
                                        <h3>Card Number</h3>
                                        <p>@Model.CreditCard?.CardNumber</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <div class="icon-box"></div>
                                        <h3>Limit</h3>
                                        <p>@Model.CreditCard?.CreditLimit.ToString("C")</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <div class="icon-box"></div>
                                        <h3>Interest Rate</h3>
                                        <p>@Model.CreditCard?.InterestRate %</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <div class="icon-box"></div>
                                        <h3>Used</h3>
                                        <p>@Model.CreditCard?.CurrentDebt.ToString("C")</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <div class="icon-box"></div>
                                        <h3>Start Date</h3>
                                        <p>@Model.CreditCard?.BillingCycleStart.ToString("MM/dd/yyyy").</p>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <div class="icon-box"></div>
                                        <h3>Statement date</h3>
                                        <p>@Model.CreditCard?.StatementDate.ToString("MM/dd/yyyy").</p>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                    <div class="single-item">
                                        <div class="icon-box"></div>
                                        <h3>Due date</h3>
                                        <p>@Model.CreditCard?.DueDate.ToString("MM/dd/yyyy").</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <br/> <br/>
                    <br/>

                    <div class="content-two mb_10">
                        <div class="text-box mb_35">
                            @if (@Model.CreditCard?.IsActive == false)
                            {
                                <h2><img width="30rem" src="~/images/icons/block.svg" alt=""> Source Card Information
                                </h2>
                            }
                            else
                            {
                                <h2><img src="~/images/icons/icon-195.png" alt=""> Source Card Information</h2>
                            }
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"></div>
                                    <h3>Card Number</h3>
                                    <p>@Model.AccountNumber</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"></div>
                                    <h3>Balance</h3>
                                    <p>@Model.Balance.ToString("C")</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"></div>
                                    <h3>Card Type</h3>
                                    <p>@Model.AccountType.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                <div class="single-item">
                                    <div class="icon-box"></div>
                                    <h3>Card creation date</h3>
                                    <p>@Model.CreatedAt.ToString("MM/dd/yyyy")</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    @{
                        bool canPayCredit =
                            Model.CreditCard?.IsActive == true &&
                            Model.AccountType == "Credit Card" &&
                            DateTime.Now.Date >= Model.CreditCard?.StatementDate.Date &&
                            DateTime.Now.Date <= Model.CreditCard?.DueDate.Date;
                    }

                    @if (Model.AccountType == "Credit Card" && Model.CreditCard?.IsActive == true && canPayCredit)
                    {
                        <div class="content-three mb_30">
                            <div class="content-four">
                                <ul class="accordion-box">
                                    <li class="accordion block active-block">
                                        <div class="acc-btn active">
                                            <div class="icon-box"><i class="flaticon-chevron"></i></div>
                                            <h4>Pay off credit card debt</h4>
                                        </div>
                                        <div class="acc-content current">
                                            <div class="content">
                                                <h5>Payment Credit Card</h5>
                                                <ul class="list-item mb_35">
                                                    <li>Interest Rate: @Model.CreditCard?.InterestRate %</li>
                                                    <li>Amount
                                                        payable: @Model.CreditCard?.CurrentDebt.ToString("C")</li>
                                                    <li>Start
                                                        Date: @Model.CreditCard?.BillingCycleStart.ToString("yyyy-MM-dd")</li>
                                                    <li>Statement
                                                        Date: @Model.CreditCard?.StatementDate.ToString("yyyy-MM-dd")</li>
                                                    <li>Due Date: @Model.CreditCard?.DueDate.ToString("yyyy-MM-dd")</li>
                                                </ul>
                                                <div class="payment-row">
                                                    <select id="paymentType" class="form-control w-25" name="type"
                                                            required>
                                                        <option disabled selected>Payment Type</option>
                                                        <option value="Full">Full payment</option>
                                                        <option value="Partial">Partial payment</option>
                                                    </select>
                                                    <input type="number" id="paymentAmount" step="0.01" min="1"
                                                           name="amount" placeholder="Nhập số tiền (nếu chọn partial)"
                                                           class="form-control"/>
                                                </div>
                                                <br/>
                                                <button 
                                                    id="paymentBtn" 
                                                    type="button" 
                                                    class="theme-btn" 
                                                    onclick="makePayment(this); return false;">
                                                    <span>Payment</span>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .payment-row {
        display: flex;
        gap: 10px;
    }

    .payment-row select,
    .payment-row input {
        flex: 1;
        min-width: 0;
    }
</style>
<div id="customAlert" class="custom-alert">
    <div class="custom-alert-content">
        <span id="customAlertMessage">Success!</span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


    function makePayment(btn) {
        const $btn = $(btn);
        $btn.prop('disabled', true).html('Loading...');

        const type = $('#paymentType').val();
        const amount = (type === "Partial") ? $('#paymentAmount').val() : null;

        $.ajax({
            url: '/Auth/Pay',
            method: 'POST',
            data: { type, amount },
            success: function (response) {
                if (response.success) {
                    showCustomAlert(response.message);
                    setTimeout(() => location.reload(), 1500);
                }
            },
            error: function () {
                showCustomAlert("An error occurred while processing payment.");
                $btn.prop('disabled', false).html('<span>Payment</span>');
            }
        });
    }
    function showCustomAlert(message) {
        const alertBox = document.getElementById("customAlert");
        const messageBox = document.getElementById("customAlertMessage");

        messageBox.textContent = message;
        alertBox.style.display = "block";

        setTimeout(() => {
            alertBox.style.display = "none";
        }, 3000);
    }
</script>

<style>
    .custom-alert {
        text-align: center;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #00c292;
        color: white;
        padding: 15px 25px;
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        display: none;
        z-index: 9999;
        font-size: 16px;
        animation: slideIn 0.5s ease forwards;
    }
</style>