@model List<Account>

<section class="page-title">
    <div class="bg-layer" style="background-image: url('@Url.Content("~/images/background/page-title.jpg")');"></div>
    <div class="pattern-layer" style="background-image: url('@Url.Content("~/images/shape/shape-32.png")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>List Card</h1>
            <ul class="bread-crumb clearfix">
            </ul>
        </div>
    </div>
</section>

<br/>
<br/>
<br/>
<br/>

<!-- cards-style-two -->
<section class="cards-style-two pb_120">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-3 col-md-12 col-sm-12 sidebar-side">
                <div class="cards-sidebar">
                    <div class="category-widget mb_30">
                        <div class="widget-title">
                            <h3>Card Types</h3>
                        </div>
                        <ul class="category-list clearfix">
                            <li><a asp-action="Users" asp-controller="Auth" >User Setting</a></li>
                            <li><a asp-controller="Auth" asp-action="Card" class="current">My Card</a></li>
                            <li><a asp-controller="Auth" asp-action="CreateCard">Create Card</a></li>
                            <li><a asp-controller="Loans" asp-action="Index">My Loans</a></li>
                            <li><a asp-controller="Insurance" asp-action="UserInsurance">My Insurance</a></li>
                            <li><a asp-controller="Transfer" asp-action="Index">Transfer</a></li>
                            <li><a asp-controller="Auth" asp-action="RecentTransactions">History Transaction</a></li>
                        </ul>
                    </div>
                  
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 content-side">
                <div class="content-box">
                    @if (!Model.Any())
                    {
                        <p>You have no card.</p>
                    }
                    else
                    {
                        @foreach (var account in Model)
                        {
                            <div class="cards-block-one">
                                <div class="inner-box">
                                    <div class="cards-column">
                                        <h3><a href="#">@account.AccountType</a></h3>
                                        <figure class="image-box">
                                            @if (account.AccountType == "Credit Card")
                                            {
                                                <img src="~/images/resource/credit.png" alt="Credit Card"/>
                                            }
                                            else
                                            {
                                                <img src="~/images/resource/normal.png" alt="">
                                            }
                                        </figure>

                                        <div class="btn-box">
                                            <a href="#">Deposit Now</a>
                                            <a href="#" data-bs-toggle="modal"
                                               data-bs-target="#readMoreModal-@account.Id">Read More</a>
                                        </div>
                                    </div>
                                    <div class="content-column">
                                        <p>Explore the world with TeckBank Regular and Charge Cards.</p>
                                        <h4>Features & Benefits</h4>
                                        <ul class="list-item">
                                            <li><img src="~/images/icons/icon-191.png" alt="">No joining fee and annual
                                                fee
                                            </li>
                                            <li><img src="~/images/icons/icon-192.png" alt="">No transfer fee</li>
                                            <li><img src="~/images/icons/icon-193.png" alt="">Lots of rewards &
                                                lifestyle benefits
                                            </li>
                                            <li>&nbsp;</li>
                                        </ul>
                                        <div class="check-box-two">
                                            <input class="check" type="checkbox" id="checkbox1">
                                            <label for="checkbox1">Add to Compare</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="modal fade" id="readMoreModal-@account.Id" tabindex="-1" aria-labelledby="readMoreLabel-"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content" style="border: none;">
                                        <div class="modal-header"
                                             style="background-color: #f1f1f1; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                            <h5 class="modal-title" id="readMoreLabel-" style="color: #000; font-weight: 600;">
                                                Enter PIN to read more
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                                    style="filter: invert(1);"></button>
                                        </div>
                                        <div class="modal-body p-4">
                                            <form method="post" action="@Url.Action("CardDetails", "Auth")">
                                                <input type="hidden" name="accountId" value="@account.Id"/>
                                                <div class="mb-3">
                                                    <label class="form-label text-dark">PIN</label>
                                                    <input type="password" name="pin" class="form-control" placeholder="Enter your PIN" required>
                                                </div>
                                                <div class="text-end">
                                                    <button type="submit" class="btn btn-danger" style="padding: 10px 25px;">Confirm</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>



<script>
    function viewAccountDetails(accountId) {
        var form = document.createElement("form");
        form.method = "POST";
        form.action = "@Url.Action("CardDetails", "Auth")";

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "accountId";
        input.pin = "pin";
        input.value = accountId;
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }
</script>
