@model CP2496H07Group1.Models.InsurancePackage

<section class="page-title">
    <div class="bg-layer" style="background-image: url('@Url.Content("~/images/background/page-title.jpg")');"></div>
    <div class="pattern-layer" style="background-image: url('@Url.Content("~/images/shape/shape-32.png")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>InsurancePackage Details</h1>
            <ul class="bread-crumb clearfix">
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->


<!-- sidebar-page-container -->
<section class="sidebar-page-container blog-list-two pt_120 pb_120">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="blog-details-content">
                    <div class="news-block-one">
                        <div class="inner-box pb_8">
                            <div class="content-box">
                                <div class="upper-box">
                                    <div class="left-column">
                                        <div class="post-date p_relative">
                                            <h3>@Model.CreatedAt.ToString("dd")</h3>
                                            <h6>@Model.CreatedAt.ToString("MMMM yyyy")</h6>
                                        </div>
                                        <div class="title-box">
                                            <h6><img src="~/images/icons/icon-36.png" alt="">@Model.Name</h6>
                                            <h5><span>By </span><a href="blog-details.html">@Model.Type</a></h5>
                                        </div>
                                    </div>
                                    <ul class="option-list">
                                        <li>
                                            <button><img src="~/images/icons/icon-208.png" alt=""></button>
                                        </li>
                                        <li><a href="blog-details.html"><img src="~/images/icons/icon-209.png"
                                                                             alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="lower-box">
                                    <div class="link-box">
                                        <ul class="post-info">
                                            <li><h5><img src="~/images/icons/icon-37.png"
                                                         alt="">@Model.DurationDays (Days)</h5></li>
                                            <li><h5><img src="~/images/icons/icon-211.png" alt="">26 Comments</h5></li>
                                            <li><h5><img src="~/images/icons/icon-212.png" alt="">345 Views</h5></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-one">
                        <figure class="image-box"><img src="~/images/news/news-36.jpg" alt=""></figure>
                        <div class="text-box mb_45">
                            @Model.Description
                            <p><span>N</span>ation and dislike men who are so that beguiled and demoralized welcomed
                                every pains avoided frequently occur that pleasures indignation and dislike men who are
                                so beguiled</p>
                            <p class="mb_20">by the charms of pleasure of the moment, so blinded by desire, that they
                                cannot foresee the pain trouble that are bound to ensue and equal blame belongs to those
                                who fail in their duty through weakness of will, which is the same as saying through
                                shrinking.</p>
                            <p class="mb_20">Foresee the pain trouble that are bound to ensue equal blame belongs
                                shrinking.</p>
                            <p class="mb_20">Ensue equal blame belongs to those who fail in their duty through weakness
                                of will, which is the saying through shrinking our being able to do what we like
                                best.</p>
                            <p>Moment, so blinded by desire, that they cannot foresee the pain trouble that are bound to
                                ensue and equal blame belongs to those who fail in their duty through weakness of will,
                                which is the same as saying through shrinking certain circumstances and owing to the
                                claims.</p>
                        </div>
                        <blockquote>
                            <p><img src="~/images/icons/icon-216.png" alt="">Boost your credit score fast with these
                                proven tips and tricks your financial future awaits!</p>
                            <div class="lower-box">
                                <h4><img src="~/images/icons/icon-198.png" alt="">K.Benjamin</h4>
                                <a href="blog-details.html">facebook.com</a>
                            </div>
                        </blockquote>
                    </div>
                    <div class="content-two pb_15">
                        <div class="text-box mb_25">
                            <h2>Pay Your Bills on Time</h2>
                            <p>Dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
                                know how too all pursue pleasure rationally encounter consequences that are extrem.</p>
                        </div>
                        <div class="single-item">
                            <h3><img src="~/images/icons/icon-217.png" alt="">Set Up Payment Reminders</h3>
                            <p>Explorer of the truth, the master-builder of human happiness no one rejects, dislikes, or
                                avoids pleasure itself, because it is pleasure, but because those who do not know how to
                                pursue pleasure rationally encounter consequences that are extremely painful.</p>
                        </div>
                        <div class="single-item">
                            <h3><img src="~/images/icons/icon-217.png" alt="">Create a Budget</h3>
                            <p>Builder of human happiness no one rejects, dislikes, or avoids pleasure itself, because
                                it is pleasure, but because those who do not know how to pursue pleasure rationally
                                encounter.</p>
                        </div>
                    </div>
                    <div class="content-three mb_45">
                        <h2>Limit New Credit Applications</h2>
                        <p>Indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of
                            to the moment, so blinded by desire that they cannot foresee the pain and trouble that are
                            bound ensue and equal blame belongs to those who fail in their duty.</p>
                        <ul class="list-item clearfix">
                            <li><img src="~/images/icons/icon-16.png" alt="">Understand the Impact of Hard Inquiries
                            </li>
                            <li><img src="~/images/icons/icon-16.png" alt="">Space Out Your Applications</li>
                            <li><img src="~/images/icons/icon-16.png" alt="">Pre-Qualification vs. Full Application</li>
                            <li><img src="~/images/icons/icon-16.png" alt="">Focus on Essential Credit</li>
                            <li><img src="~/images/icons/icon-16.png" alt="">Monitor Your Credit Report</li>
                        </ul>
                    </div>
                    <div class="post-tag-option mb_60">
                        <h5><img src="~/images/icons/icon-218.png" alt="">Post Tags:</h5>
                        <ul class="tags-list">
                            <li><a href="blog-details.html">Account</a></li>
                            <li><a href="blog-details.html">Online Banking</a></li>
                            <li><a href="blog-details.html">Mobile Banking</a></li>
                        </ul>
                    </div>
                    <div class="author-box mb_50">
                        <figure class="thumb-box"><img src="~/images/news/author-1.jpg" alt=""></figure>
                        <span class="text">Post By</span>
                        <h3>Matt Thomas</h3>
                        <p>Human happiness no one rejects, dislikes, or avoids pleasure because but because those who do
                            not know.</p>
                        <h5><i class="flaticon-right-arrow"></i><a href="blog-details.html">Read All Post</a></h5>
                        <ul class="social-links">
                            <li><a href="blog-details.html"><i class="flaticon-facebook"></i></a></li>
                            <li><a href="blog-details.html"><i class="flaticon-twitter"></i></a></li>
                            <li><a href="blog-details.html"><i class="flaticon-instagram-logo"></i></a></li>
                        </ul>
                    </div>
                    <div class="post-nav mb_50">
                        <div class="post-nav-btn mb_25">
                            <div class="single-btn">
                                <h5><i class="flaticon-next"></i><a href="blog-details.html">Prev Post</a></h5>
                                <h4><a href="blog-details.html">How to Improve Your Credit <br/>Score Tips & Tricks.</a>
                                </h4>
                            </div>
                            <div class="single-btn align-3">
                                <h5><a href="blog-details.html">Next Post</a><i class="flaticon-next"></i></h5>
                                <h4><a href="blog-details.html">Boost Gains: Best Practices <br/>for Credit Card
                                        Use.</a></h4>
                            </div>
                        </div>
                        <div class="btn-box">
                            <a href="blog.html"><img src="~/images/icons/icon-219.png" alt=""><span>Back to Post</span></a>
                        </div>
                    </div>
                    <div class="comment-box mb_45">
                        <h2>Read Comments</h2>
                        <div class="comment-inner">
                            <div class="comment">
                                <figure class="image-box"><img src="~/images/news/comment-1.jpg" alt=""></figure>
                                <div class="title-box">
                                    <h4>Steven Rich</h4>
                                    <span class="post-date">08 May, 2025</span>
                                </div>
                                <p>Gain is there anyone who loves or pursues or desires to obtain pain of itself,
                                    because occur in which toil and pain can procure him some great.</p>
                                <h5><img src="~/images/icons/icon-220.png" alt=""><a href="blog-details.html">Reply</a>
                                </h5>
                            </div>
                            <div class="comment">
                                <figure class="image-box"><img src="~/images/news/comment-2.jpg" alt=""></figure>
                                <div class="title-box">
                                    <h4>Liam Benjamin</h4>
                                    <span class="post-date">05 May, 2025</span>
                                </div>
                                <p>Ever undertakes laborious physical exercise, except to obtain some advantages from it
                                    but who has any right to find fault.</p>
                                <h5><img src="~/images/icons/icon-220.png" alt=""><a href="blog-details.html">Reply</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form-area">
                        <div class="group-title">
                            <h2>Leave Your Comments</h2>
                            <p>Your email address will not be published. Required fields are marked *</p>
                        </div>
                        <div class="form-inner">
                            <form method="post" action="https://azim.hostlin.com/Flexibank/blog-details.html">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Comments"></textarea>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="name" placeholder="Name" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="email" name="email" placeholder="Email" required="">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <div class="form-group check-box-two pt_6 pb_8">
                                            <input class="check" type="checkbox" id="checkbox1">
                                            <label for="checkbox1">Save my name, email &amp; website in this browser for
                                                the next time I comment.</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                        <button type="submit" class="theme-btn"><span>Post Comment</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="blog-sidebar ml_20">
                    <div class="sidebar-widget search-widget mb_40">
                        <form method="post" action="https://azim.hostlin.com/Flexibank/blog-details.html">
                            <div class="form-group">
                                <input type="search" name="search-field" placeholder="Search..." required>
                                <button type="submit"><img src="~/images/icons/icon-7.png" alt=""></button>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-widget category-widget mb_35">
                        <div class="widget-title">
                            <h3>Categories</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="category-list clearfix">
                                <li><a href="blog-details.html"><span>Account</span><img
                                            src="~/images/icons/icon-213.png" alt=""></a></li>
                                <li><a href="blog-details.html"><span>Business Planning</span><img
                                            src="~/images/icons/icon-213.png" alt=""></a></li>
                                <li><a href="blog-details.html"><span>Credit Card</span><img
                                            src="~/images/icons/icon-213.png" alt=""></a></li>
                                <li><a href="blog-details.html"><span>Financial Planning</span><img
                                            src="~/images/icons/icon-213.png" alt=""></a></li>
                                <li><a href="blog-details.html"><span>Investing</span><img
                                            src="~/images/icons/icon-213.png" alt=""></a></li>
                                <li><a href="blog-details.html"><span>Loans</span><img src="~/images/icons/icon-213.png"
                                                                                       alt=""></a></li>
                                <li><a href="blog-details.html"><span>Technology</span><img
                                            src="~/images/icons/icon-213.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget post-widget">
                        <div class="widget-title">
                            <h3>Popular Post</h3>
                        </div>
                        <div class="post-inner">
                            <div class="post">
                                <figure class="post-thumb"><img src="~/images/news/post-1.jpg" alt=""><a
                                        href="~/images/news/post-1.jpg" class="lightbox-image"
                                        data-fancybox="gallery"><img src="~/images/icons/icon-215.png" alt=""></a>
                                </figure>
                                <h4><a href="blog-details.html">How to Improve Your CreditScore Tips & Tricks.</a></h4>
                                <h5><img src="~/images/icons/icon-37.png" alt="">5 Mins Read</h5>
                            </div>
                            <div class="post">
                                <figure class="post-thumb"><img src="~/images/news/post-2.jpg" alt=""><a
                                        href="~/images/news/post-2.jpg" class="lightbox-image"
                                        data-fancybox="gallery"><img src="~/images/icons/icon-215.png" alt=""></a>
                                </figure>
                                <h4><a href="blog-details.html">Boost Gains: Best Practices for Credit Card Use.</a>
                                </h4>
                                <h5><img src="~/images/icons/icon-37.png" alt="">4 Mins Read</h5>
                            </div>
                            <div class="post">
                                <figure class="post-thumb"><img src="~/images/news/post-3.jpg" alt=""><a
                                        href="~/images/news/post-3.jpg" class="lightbox-image"
                                        data-fancybox="gallery"><img src="~/images/icons/icon-215.png" alt=""></a>
                                </figure>
                                <h4><a href="blog-details.html">Digital Payment Systems: The Future of Transactions.</a>
                                </h4>
                                <h5><img src="~/images/icons/icon-37.png" alt="">5 Mins Read</h5>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget tags-widget">
                        <div class="widget-title">
                            <h3>Popular Tags</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="tags-list clearfix">
                                <li><a href="blog-details.html">Account</a></li>
                                <li><a href="blog-details.html">Online Banking</a></li>
                                <li><a href="blog-details.html">Mobile Banking</a></li>
                                <li><a href="blog-details.html">Deposits</a></li>
                                <li><a href="blog-details.html">Withdrawals</a></li>
                                <li><a href="blog-details.html">Loans</a></li>
                                <li><a href="blog-details.html">Business</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>